__pycache__/
.idea/
model/__pycache__/
saved_models/u2net/*
!saved_models/u2net/.gitkeep
saved_models/u2net_test/*
!saved_models/u2net_test/.gitkeep
train_data/images/*
!train_data/images/.gitkeep
train_data/masks/*
!train_data/masks/.gitkeep